* {
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	/* alt font for post sub, reviewer pls ignore
	font-family: 'Muli', sans-serif;
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    */
	font-size: 22px;
	color: black;
	/* grid border
	border:2px dotted red;
	*/
	text-align: center;
}

.container {
	align-content: center;
	vertical-align: center;
	max-width: 100%;
	margin: 0px;
	padding: 0px;
}

body {
	margin: 0px;
	/*border: 1px solid black;*/
	padding: 5px;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@media screen and (max-width: 676px) {
 	.container {
 		display: flex;
 		flex-direction: column;
 		flex-wrap: wrap;
	}
	body {
		max-width: 670px;
		flex-grow: 1;
	}

	h1.name_title {
	font-weight: 100;
	font-size: 24px;
	width: 400px;
	}

	h3.name_title {
	font-weight: 100;
	font-size: 14px;
	width: 400px;
	}
}

nav {
	width: 250px;
	height: 100%;
	position: absolute;
	transform: translate(-200px,0);
	transition: transform 0.6s;
}


a#menu svg {
    width: 40px;
    fill: #000;
}

h1,
h2,
h3 {
	margin: 1px;
	padding:	 1px;
	float: right;
	text-align: right;
}

h1 {
	font-weight: 100;
	font-size: 38px;
	width: 400px;
}

h3 {
	font-weight: 300;
	font-size: 16px;
}

h4 {
	font-weight: 400;
	font-size: 28px;
	color: #7d97ad;
	text-align: left;
	letter-spacing: 2px;
}

h5 {
	font-weight: 400;
	font-size: 32px;
	text-align: center;
	letter-spacing: 2px;
	margin: 6px;
}

hr {
	border-top: 3px solid #7d97ad;
}

p {
	margin: 2px;
	font-size: 4vw;
	text-align: center;
	letter-spacing: 0px;
}

img,
embed, 
object,
video {
	max-width: 100%;
	border-radius: 
}

img.logo {
	float: left;
	max-width: 5%;
}

img.front {
	max-width:100%;
	border-radius: 12px;
	-webkit-filter: grayscale(15%); /* Safari 6.0 - 9.0 */
    filter: grayscale(15%);
}

img.project {
	float: center;
	width: 200px;
	min-width: 200px;
	height: 200px;
	min-height: 200px;
	border: 5px solid #12b1a1;
	border-radius: 25px;
}

.name_title{
	width: 50%;
}

p.project_repo {
	font-size: 8px;
	text-align: center;
	letter-spacing: 0px;
	font-weight: 400;
}

section {
	float: left;
	width: 32.5%;
}